body{
  background: #E2E2E2;
  width : 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

header, nav, article{
box-shadow: 1px 1px 2px 1px rgba(133,118,133,1);
width : 33%;
height : 100%;
background-color: white;
border-radius: 5px;
margin: auto;
text-align: center;
padding: 15px;
margin-top: 20px;


}

header img{
  border-radius: 50%;
  width : 15%;
  border: 2px solid #E2E2E2;
  text-align: center;
}

h1, h2, h3{
  font-family: 'Open Sans', sans-serif;
}

h1{
  color: #db2525;
}

p{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

}
a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color : grey;
  padding: 0px 30px;
}

header a{
  background-color: #db2525;
  color : white;
  padding : 8px 25px;
  border-radius: 10px;
}
nav{
  padding-top: 30px;
  padding-bottom: 60px;
}

li{
  list-style: none;
  float: left;
}

ul li a{
  font-size: 20px;
}

img{
  width : 16%;
  padding-right: 19px;

}

.space_odyssey, .monsieur_hulot, .alien{
  padding: 15px;

}
article img{
  float: left;
}

.content p{
padding-left: : 20px;
}
