body{
  background: #ebebeb;
  width : 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

header, nav, article{
width : 27%;
height : 100%;
background-color: white;
border-radius: 5px;
margin: auto;
text-align: center;
padding: 25px;
margin-top: 20px;


}

header img{
  border-radius: 50%;
  width : 120px;
  height: 120px;
  border: 2px solid #E2E2E2;
  text-align: center;
}



h1{
  color: #d0493c;
}

h2, h3{
  color: #808080;
  font-weight: 600;
}

p{
  color : #808080;
  text-align: left;
  font-size: 16px;

}

a{
  text-decoration: none;
  color : grey;
  padding: 0px 30px;
}

header a{
  background-color: #d0493c;
  color : white;
  padding : 8px 25px;
  border-radius: 10px;
}
nav{
  padding-top: 30px;
  padding-bottom: 60px;
}

li{
  list-style: none;
  float: left;
}

ul li{
  display : inline;
}

article img{
  width : 15%;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;


}

.space_odyssey, .monsieur_hulot, .alien{
  padding-bottom: 30px;

}
